.page {
    padding: 20px;
}

.content {
    background-color: #eee;
    max-width: 600px;
    line-height: 22px;
    margin:0px auto;
    text-align:left;
    padding: 10px;
    border:3px solid #333;

    box-shadow: 15px 15px 15px black;
}

.content h1 {
    font-weight: bold;
    display: inline;
}

.content p {
    padding-bottom: 5px;
}

.link {
    margin: 0px;
    margin-right: 10px;
}